<a href="https://colab.research.google.com/github/shloknaik3/SPAM-HAM/blob/master/spam_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from google.colab import files
upd = files.upload()

Saving datasets_483_982_spam.csv to datasets_483_982_spam.csv

In [ ]:
data = pd.read_csv("datasets_483_982_spam.csv", encoding = "ISO-8859-1")

In [ ]:
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
data = data.drop(columns = ["Unnamed: 2",	"Unnamed: 3",	"Unnamed: 4"])

In [ ]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data["v1"].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['v2'], data['v1'], test_size = 0.25, random_state = 37)

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cor = []
for i in range(0, 5572):
    review = re.sub('[^a-zA-Z]', ' ', data['v2'][i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    cor.append(review)

In [ ]:
cv = CountVectorizer(max_features = 1500)
cv.fit(X_train)
X_train_cv = cv.transform(X_train)
X_train_cv
X_test_cv = cv.transform(X_test)
X_test_cv

<1393x1500 sparse matrix of type '<class 'numpy.int64'>'
	with 15472 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
dtc = DecisionTreeClassifier(min_samples_split=7, random_state=252)
dtc.fit(X_train_cv,y_train)
y_pred = dtc.predict(X_test_cv)

In [ ]:
print('DTC Accuracy_score: '+str(round(accuracy_score(y_test,y_pred)*100, ndigits = 2)) +"%")
print('DTC confusion_matrix: ', confusion_matrix(y_test, y_pred))

DTC Accuracy_score: 97.56%
DTC confusion_matrix:  [[1188   13]
 [  21  171]]